node_modules/
__pycache__/
Authorization/
authorization.txt
authorization.json
db.sqlite3
.idea/
delete.py
*.xlsx
logs/
bfg.jar
greaterwms_server_access.log
templates/web_start.sh
templates/dist/
env/
.env
media/labels/